@import "bootstrap/dist/css/bootstrap.css";

label {
  font-weight: bold;
}

a:hover {
  font-weight: bold;
}

.connection-error {
  position: absolute;
  top: 1rem;
  width: 100%;
  text-align: center;
}

.connection-error .alert {
  display: inline-block;
  width: fit-content;
}
