@import "../node_modules/bootstrap/dist/css/bootstrap.css";

label {
  font-weight: bold;
}

a:hover {
  font-weight: bold;
}

.globalError {
  position: absolute;
  top: 1rem;
  width: 100%;
  text-align: center;
}

.globalError .alert {
  display: inline-block;
  width: fit-content;
}

.notificationsContainer {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: auto;
  overflow: hidden;
}

.notification-enter {
  margin-top: 100%;
}

.notification-enter.notification-enter-active {
  margin-top: 1rem;
  transition: margin-top 500ms linear;
}

.notification-leave {
  opacity: 1;
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.overlay-message {
  background: linear-gradient(#fff, #eee);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2000;
  display: table;
}

.overlay-message > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
